<span>{{chan}}</span>

    <div class="list-group list-group-horizontal">

      <a>
        <img style="padding:10px" ng-repeat="user in channel | limitTo: limit | startFrom : start track by $index" tooltips title="{{ user.name }} ({{ user.username }})" ng-src="{{ user.imageUrl }}" width="75px" height="75px" />
        <!-- {{ user.name }} ({{ user.username }}) -->
      </a>

      <span style="padding:10px" tooltips title="{{ extra1 }}"  ng-show="channel.length - limit > 0"> +{{channel.length - limit}}</span>
     
    </div>
    
  
    